@font-face {
    font-family: 'josefin-sans';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('./josefin-sans/JosefinSans-Thin.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'josefin-sans';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('./josefin-sans/JosefinSans-Light.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'josefin-sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./josefin-sans/JosefinSans-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'josefin-sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./josefin-sans/JosefinSans-Medium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'josefin-sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./josefin-sans/JosefinSans-SemiBold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'josefin-sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./josefin-sans/JosefinSans-Bold.ttf') format('truetype');
  }
  